%h1 New meeting
.services
  %h2 Services
  %ul
    %br
    %li
      //hammerhead shark
      King Fish Package
      %img{:alt => "Kingfish", :height => "60", :src => "/assets/kingfish.jpg", :width => "auto"}
    %ul
      %br
      %li House Wash
      %br
      %li Carpet Cleaning
      %br
      %li Window Cleaning(interior/exterior)
      %br
    %li 
      Shiny Tarpon
      %img{:alt => "Tarpon", :height => "40", :src => "/assets/Tarpon.jpg", :width => "auto"}
    %ul
      %br
      %li House Wash
      %br
      %li Exterior Window
      %br
    %li Quick Joe
    %ul
      %br
      %li Exterior Windows
= render 'form'

= link_to 'Back', meetings_path
