%h1 Home
-if admin_signed_in?
  = link_to "Logout", destroy_admin_session_path, :method => :delete  
-else
  = link_to new_admin_session_path do
    Admin
.cover
  #slideshow2
    %span
      %img{:alt => "ba1", :height => "500", :src => "/assets/BA1.jpg", :width => "100%"}
    %span
      %img{:alt => "ba2", :height => "500", :src => "/assets/BA2.jpg", :width => "100%"}