.cover {
  position:relative;
  height: 10;
  width: 98.5%;
}
#slideshow { 
    position: relative; 
    width: auto; 
    height: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#slideshow > div { 
    position: relative; 
    top: 0px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
#slideshow2 { 
    position: relative; 
    width: auto; 
    height: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow2 > div { 
    position: relative; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
#fixedbar { 
  position: relative;
  width: 98.5%;
  height: 80px;
  background: rgba(0,0,0,0.75);
}

#fixednav { 
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0px 25px;
}
 
#fixednav a {
  text-align: center;
  display: inline;
  float: left;
  font-size: 1.75em;
  font-weight: bold;
  color: #96aed8;
  line-height: 80px;
  text-decoration: none;
  padding: 0px 8px;
  left: 0;
  right: 0;
  margin-left: 10%;
  margin-right: 10%; 
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; 
}
#fixednav a:hover {
  color: #fff;
  background: rgba(0,0,0,0.3);
}
.y {
  position: relative;
  text-align: center;
}
.services {
  text-align: left;
}
li {  
  font-size: 200%;
}